<h2><%= l(:label_role_replacement_new) %></h2>

<%= render :partial => 'form',
    :locals => {
        :role_replacement => @role_replacement,
        :message => l(:button_create),
        :url => url_for(:controller => "role_replacements", :action => "create"),
        :role_before_list => @project.non_replaced_roles } %>

<% html_title(l(:label_role_replacement_new)) -%>
